/* General body styling */
body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #F0F0F0; 
    color: #213555; 
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Left side (weather and genres) */
#main-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 3;
    padding-right: 20px;
}

/* Right side (location, artists and tracks) */
#sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    padding-left: 20px;
}

/* Styling for weather info */
#weather {
    background-color: rgba(61, 90, 128, 0.2); 
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.weather-day {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-right: 2px solid rgba(61, 90, 128, 0.5); 
    text-align: center;
}

.weather-day:last-child {
    border-right: none;
}

.weather-day p {
    font-size: 0.9em;
    margin: 5px 0;
}

/* Styling for music genre info */
#music-genre {
    background-color: rgba(61, 90, 128, 0.2); /* Second color with opacity: box containers */
    border-radius: 10px;
    padding: 20px;
}

#music-genre p {
    font-size: 1.5em;
    margin: 10px 0;
}

/* Styling for recommended tracks */
#recommended-tracks {
    background-color: rgba(61, 90, 128, 0.2); /* Second color with opacity: box containers */
    border-radius: 10px;
    padding: 20px;
}

#recommended-tracks p, 
#recommended-tracks ol {
    font-size: 1.2em;
    margin: 10px 0;
    list-style-position: inside;
    padding-left: 0;
}

/* Styling for the location information */
#location {
    background-color: rgba(61, 90, 128, 0.2); 
    border-radius: 10px;
    padding: 20px;
}

#location p {
    font-size: 1.5em;
    margin: 5px 0;
}

/* Styling for recommended artists */
#artists {
    background-color: rgba(61, 90, 128, 0.2); 
    border-radius: 10px;
    padding: 20px;
}

#artists p, 
#artists ol {
    font-size: 1.2em;
    margin: 10px 0;
    list-style-position: inside;
    padding-left: 0;
}

.back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3d5a80;
    color: #E1EEf2;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    #main-content, #sidebar-content {
        width: 100%;
        padding: 0;
    }

    #weather {
        flex-direction: column;
    }

    .weather-day {
        border-right: none;
        border-bottom: 2px solid rgba(61, 90, 128, 0.5); 
        padding: 15px 0;
    }

    .weather-day:last-child {
        border-bottom: none;
    }
}
