/* General body styling */
body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #F0F0F0; 
    color: #213555; 
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Left side (weather and genres) */
#main-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 3;
    padding-right: 20px;
}

/* Right side (location, artists and tracks) */
#sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    
}

/* Styling for weather info */
#weather {
    display: flex;
    overflow-x: auto; /* Enable horizontal scroll */
    padding: 10px 0; /* Vertical padding */
}

.weather-day {
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    min-width: 200px; 
    flex: 0 0 auto; 
    text-align: center; 
}

.weather-day-date {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
}

.weather-day-description {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.weather-day p {
    font-size: 1em;
    margin: 5px 0;
}

/* Styling for music genre info */
#music-genre {
    background-color: rgba(61, 90, 128, 0.2); 
    border-radius: 10px;
    padding: 20px;
}

#music-genre p {
    font-size: 1.5em;
    margin: 10px 0;
}

/* Styling for recommended tracks */
#recommended-tracks {
    background-color: rgba(61, 90, 128, 0.2); 
    border-radius: 10px;
    padding: 20px;
}

#recommended-tracks p, 
#recommended-tracks ol {
    font-size: 1.2em;
    margin: 10px 0;
    list-style-position: inside;
    padding-left: 0;
}

/* Styling for the location information */
#location {
    background-color: rgba(61, 90, 128, 0.2); 
    padding: 20px;
}

#location p {
    font-size: 1.5em;
    margin: 5px 0;
}

/* Styling for recommended artists */
#artists {
    background-color: rgba(61, 90, 128, 0.2); 
    border-radius: 10px;
    padding: 20px;
}

#artists p, 
#artists ol {
    font-size: 1.2em;
    margin: 10px 0;
    list-style-position: inside;
    padding-left: 0;
}

.back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3d5a80;
    color: #E1EEf2;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    #main-content, #sidebar-content {
        width: 100%;
        padding: 0;
    }

    #weather {
        flex-direction: column;
        overflow-x: visible; /* Disable horizontal scroll on small screens */
    }

    .weather-day {
        border-right: none;
        border-bottom: 2px solid rgba(61, 90, 128, 0.5); 
        padding: 15px 0;
        min-width: auto; /* Allow the box to resize */
    }

    .weather-day:last-child {
        border-bottom: none;
    }
}
