/* General body styling */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ECDFCC; 
    color: #1E201E; 
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

/* Left side (weather and genres) */
#main-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 3;
    padding-right: 20px;
}

/* Right side (location) */
#sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    padding-left: 20px;
}

/* Styling for weather info */
#weather {
    background-color: #AAB396; 
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#weather p {
    font-size: 2em;
    margin: 10px 0;
    color: #1E201E; 
}

/* Styling for forecast button */
.forecast-button, .historical-button {
    display: inline-block;
    background-color: #AAB396; 
    color: #1E201E; 
    padding: 20px 50px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    align-self: flex-start;
}
.back-button {
    display: inline-block;
    background-color: #AAB396; 
    color: #1E201E; 
    padding: 10px 20px; 
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 10px;
    position: fixed; 
    right: 20px; 
    bottom: 20px; 
    transition: background-color 0.3s ease;
    width: auto; 

}

.forecast-button:hover, .historical-button:hover, .back-button:hover {
    background-color: #99A583;
}

/* Styling for music genre info */
#music-genre {
    background-color: #AAB396;
    border-radius: 10px;
    padding: 20px;
}

#music-genre p {
    font-size: 1.5em;
    margin: 10px 0;
    color: #1E201E; 
}

/* Styling for recommended tracks */
#recommended-tracks {
    background-color: #AAB396; 
    border-radius: 10px;
    padding: 20px;
}

#recommended-tracks p {
    font-size: 1.7em;
    margin: 10px 0;
    color: #1E201E; 
}

#recommended-tracks ol {
    font-size: 1.7em;
    margin: 10px 0;
    list-style-position: inside;
    padding-left: 0;
    color: #1E201E; 
}

/* Styling for the location information */
#location {
    background-color: #AAB396; 
    border-radius: 10px;
    padding: 20px;
}

#location p {
    font-size: 1.5em;
    margin: 5px 0;
    color: #1E201E; 
}

/* Styling for recommended artists */
#artists {
    background-color: #AAB396; 
    font-size: 1.7em;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
    #content-wrapper {
        flex-direction: column;
    }

    #main-content, #sidebar-content {
        width: 100%;
        padding: 0;
    }
}
